* {
  box-sizing: border-box;
}

.brand-logo {
  margin-left: 15px;
}

.card .card-content .card-title {
  margin-bottom: 10px;
}

#search-row form {
  padding-top: 20px;
}

.student-name {
  position: relative;
  top: -5px;
}

.collection-item form {
  margin-top: -5px;
}

body {
  margin: 0;
  font-family: futura;
  display: grid;
  height: 100vh;
  width: 100vw;
  background: linear-gradient(#FC540C, whitesmoke);
  text-align: center;
}

header {
  font-weight: bolder;
  vertical-align: top;
  font-weight: bolder;
  font-size: 60px;
  grid-area: header;
  color: whitesmoke
}

ul {
  list-style-type: none;
  text-align: center;
}

li {
  text-align: center;
}

.top-bar {
  display: grid;
  grid-template-areas: 
  "header nav";
  background-color: #06167f;
}

.nav-list {
  display: inline-flex;
  vertical-align: top;
  align-self: right;
  list-style-type: none;
  background-color: #06167f;
  color: whitesmoke;
  height: fit-content;
  font-size: 36px;
  grid-area: nav;
  width: 100vw;
  align-items: right;
}

.nav-list a {
  color: white;
}

.nav-list li {
  margin-left: 10px;
  align-items: right;
}