<%- include('../partials/header') %>
<h3>New Post</h3>
<form id="new-post" method="POST" action="/posts">
  <div>
    <input type="text" placeholder="Post Title" name="title" />
  </div>
  <div>
    <textarea id="articleBody" name="articleBody" rows="5"></textarea>
  </div>
  <div><input type="text" name="link" placeholder="Paste Your Link!" /></div>
  <div><input type="submit" value="Submit Post" /></div>
</form>
<%- include('../partials/footer') %>
